@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --background: #1b1b1b;
    --background-header: #0f0f0f;
    --text: #FFFFFF;
    --primary: #8C0335;
    --secondary: #D90452;
    --tertiary: #347cd3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    color: var(--text)
}